<h1><%= Project.find(@comment.project_id).title %></h1>
<br>

<% if @comment.errors.any? %>
    <% @comment.errors.full_messages.each do |msg| %>
      <p><%= msg %>.</p>
    <% end %>
<% end %>

<%= render "form" %>


