<h1><%= Project.find(@comment.project_id).title %></h1>
<br>
<%= @comment.content %><br><br>

<% if current_user.comments.include?(@comment) %>
  <%= link_to "Edit comment", edit_comment_path(@comment) %><br>
  <%= link_to 'Delete comment',  user_project_path(current_user, Project.find(@comment.project_id)),
      data: { confirm: 'Are you sure?' }, method: :delete %>
<%end%>