<center>
<h3>Check out the latest projects!</h3>
<br><br>
<h2>All projects</h2>

<% @projects.each do |project| %>
  <% if params[:user_id] %>
    <%= link_to project.title, user_project_path(params[:user_id], project.id) %><br>
  <% else %>
    <%= link_to project.title, project_path(project) %><br>
  <% end %>
  <%= project.short_description %><br>
<%end%>

<br><br><br>

<h2>Top projects</h2>
<% @top_projects.each do |project| %>
  <%= project.title %>
<%end%>
</center>