<p class="create_new">Create a new project</p>

<% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
<% end %>

<%= render "form" %>


