@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.form_button{
  background-color: #944dff;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  border-radius: 3px;
}

body{
  text-align: center;
  background-image: url("asanoha.png");
}


.nav_button{
  color: #0086b3;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Arial";
  font-size: 15px;
  border: solid 0.2px;
  background-color: white;
  border-radius: 3px;
}

.welcome{
  font-size: 20px;
}

.project_title{
  font-size: 18px;
}

#comments{
  font-size: 20px;
}

.media-object{
  text-align: center;
  height: 200px;
  width: 200px;

}

.title, .title:hover {
  text-transform: uppercase;
  font-size: 40px;
  color: #ff66cc;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

#title{
  height: 5%;
}

.create_new{
  text-transform: uppercase;
  color: #4B0082;
  font-family: 'Times New Roman';
  font-size: 25px;
}

.project_title_1{
  font-size: 25px;
}

.project{
  border: solid 0.3px;
  width: 30%;
  border-radius: 7px;
  text-align: center;
  background-color: #ecd9c6;
}

.form-control{
  width: 20%;
}

.text-area{
  height: 100px;
  width: 200px;
}

hr { 
  height:1px; 
  border:none; 
  color:rgb(60,90,180); 
  background-color: gray; 
}

.created{
  font-style: italic;
}

.creator{
  font-weight: bold;
}

.likes{
  font-weight: bold;
  color: #0059b3;
}

.glyphicon-thumbs-up{
  background-color: #0059b3;
  color: white;
  font-size: 15px;
}

.text-field{
  width: 200px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
