<h1>List of categories</h1>

<% @categories.each do |category| %>
  <%= link_to category.name, category_path(category.id), :class => "name" if category.name != "" %><br>
  <div class=projects-<%=category.id%>></div>
<%end%>

<script type="text/javascript" charset="utf-8">
 
 $(function () {

  $(".name").click(function(event){

    event.preventDefault();

    console.log(event);
    var projectUrl = event["target"]["href"];
    var projectId = projectUrl.slice(-1);

    $.get(projectUrl + ".json", function(data) {

      console.log(data["projects"]);

      data["projects"].forEach(function(object){
        console.log(object.first); 
        var projectLink = "../projects/" + object.id;
        $(".projects-"+projectId).append("<div><a href="+projectLink+">"+object.title+"</a></div>"); //<a href=object.id>object.title</a>
      });

    });

  });

})

</script>

