<h1>List of categories</h1>

<% @categories.each do |category| %>
  <%= link_to category.name, category_path(category.id), :class => "category" if category.name != "" %><br>
  <div class=box-<%=category.id%>>
   <% if category.name != "" %>
    <div class=projects-<%=category.id%>></div><br>
   <%end%>
  </div>
<%end%>

<script type="text/javascript" charset="utf-8">
 
 $(function () {

  $(".category").click(function(event){

    event.preventDefault();

    var projectUrl = event["target"]["href"];
    var projectId = projectUrl.slice(-1);

    $.get(projectUrl + ".json", function(data) {

      data["projects"].forEach(function(object){
        var projectLink = "../projects/" + object.id;
        if($(".box-"+projectId).text().indexOf(object.title) === -1){
          $(".projects-"+projectId).append("<div><a href="+projectLink+">"+object.title+"</a></div>"); 
        }
        else{
          $(".projects-" + projectId).text("");
        }
      });

    });

  });

})

</script>

