<h1>List of categories</h1>

<% @categories.each do |category| %>
  <p><%= link_to category.name, category_path(category), :class => "category_title" %></p>
  <div class=projectName-<%= category.id%>></div><br>
<%end%>

<script type="text/javascript" charset="utf-8">

  $(function () {
  
  $(".category_title").on("click", function(event) {
    event.preventDefault();

    $(".projects").show();

    var projectUrl = event["target"]["href"];

    var projectId = projectUrl.slice(-1);
    
    $.get(projectUrl + ".json", function(data) {

        data["projects"].forEach(function(object){

          if($(".projectName-" + data.id).text().indexOf(object.title) === -1){
            $(".projectName-" + data.id).append(object.title + '</br>');
          }
          else{
             $(".projectName-" + data.id).text("");
          }
        })

    });
  });
});

</script>